body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: lightcyan;
}

.container {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    min-width: fit-content;
    max-width: 360px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}

.controls {
    display: flex;
}

.operators {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.operators button {
    background-color: orange;
}

.opetator {
    flex-grow: 1;
}

.numbers {
    flex-grow: 2;
}

.numbers .line button {
    width: 50px;
    background-color: slategrey;
    color: white;
}

#ac, 
#negative, 
#percent {
    background-color: lightgrey;
    color: black;
}

.line {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
}

#screen {
    border: 2px solid black;
    flex-grow: 1;
    min-height: 80px;
    font-size: 55px;
    margin: 5px 0px 5px 0px;
    text-align: right;
    border-radius: 5px;
    background-color: lightblue;
    max-width: 360px;
    overflow: hidden;
}

button {
    flex-grow: 1;
    min-height: 60px;
    min-width: 50px;
    margin: 2px;
    border-radius: 5px;
    font-size: 25px;
}

button#\30.number {
    min-width: 65%;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}