.container {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
}

.line {
    flex-wrap: nowrap;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

#ac,
#zero {
    flex-grow: 3;
}

#result {
    border: 2px solid black;
    flex-grow: 1;
    min-height: 60px;
    font-size: 40px;
    margin: 5px;
    text-align: right;
}

.controls {
    display: flex;
}

.operators {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.numbers {
    flex-grow: 3;
}


button {
    flex-grow: 1;
    min-height: 60px;
    margin: 2px;
}