.container {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    max-width: 360px;
}

.controls {
    display: flex;
}

.operators {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.opetator {
    flex-grow: 1;
}

.numbers {
    flex-grow: 2;
}

.numbers .line button {
    width: 50px;
}

.line {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
}

/* .number {
    
} */

/* #ac,
#negative,
#percent {
    flex-grow: 1;
} */

/* button.number {
    flex-grow: 2.42;
} */

/* #dot.decimal {
    flex-grow: 1;
} */

#screen {
    border: 2px solid black;
    flex-grow: 1;
    min-height: 60px;
    font-size: 40px;
    margin: 5px;
    text-align: right;
}

button {
    flex-grow: 1;
    min-height: 60px;
    min-width: 50px;
    margin: 2px;
}